@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: "inter";
}
body{
    display: flex;
    justify-content: center;
}
.firstcontent{
    width: 100%;
    max-width: 1300px;
    box-shadow: 1px 0px 74px -26px rgba(0,0,0,0.57);
}
header{
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    box-shadow: 0px 19px 21px -26px rgba(0,0,0,0.75);
}
h1{
    font-weight: bold;
    font-size: 26px;
    color: #0D0D0E;
}
h2{
    font-weight: bold;
    font-size: 22px;
    color: #0D0D0E;
}
h3{
    font-weight: bold;
    font-size: 18px;
    color: #0D0D0E;
}
p{
    font-size: 16px;
    color: #343a40;
}
main {
    margin: 0 115px;
    display: flex;
    justify-content: space-between;
}
.articlegrid{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    margin: 16px 16px;
}
.tag{
    display: inline-block;
    font-size: 14px;
    background-color: #F3F4F5;
    margin: 0px 10px;
    padding: 3px;
    border-radius: 3px;
}
aside {
    width: 30%;
    margin: 16px 0px;
}
.sideContainer{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 80px 0px;
}
.minibox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.minibox img {
    margin: 5px 15px 5px 0px;
    max-width: 25%;
}
footer{
    background-color: black;
}
.rodape{
margin: 0px 115px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.whitefont{
    color: white;
}
.media{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.destaque:hover{
    cursor: pointer;
    text-decoration: underline 3px solid;
    padding: 0;
    margin: 0;
}